/*------------------------------------*
@ Body Basic
*------------------------------------*/
body {
  font:normal 13px/1.35em 'Open Sans','tahoma', Arial;
  padding-bottom: 0px;   
  padding-top: 90px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
  overflow-x: hidden;  
}

#content-wrapper{padding-top: 50px;padding-bottom: 20px;}

/*------------------------------------*
@Section-Style
*------------------------------------*/
.ibond-body   {display: inline-block; padding: 15px 25px; width: 100%; background-color: #fff;}
.ibond-body2 {display: inline-block; padding: 90px 25px 10px 25px; width: 100%; background-color: #fff; position: relative;   }
.ibond-body3{display: inline-block; padding: 90px 25px;position: relative; width: 100%;background-color: #f7f7f7;}
@media (min-width: 768px){.container {padding-right: 0px; padding-left: 0px;}}
@media (min-width: 768px){.container {width: 100%;padding-right: 30px;padding-left: 30px;}}
@media (max-width: 768px){body {padding-top: 80px;}}


/*------------------------------------*
Padding
*------------------------------------*/
.pad-checkbox{padding-top: 7px;padding-right: 7PX;}
.pad-0 { padding: 0 !important;}
.pad-10 { padding: 10px !important;}
.pad-15 { padding: 15px !important;}
.pad-lr-15 { padding-left: 15px !important;padding-right: 15px !important;}
.pad-20 { padding: 20px !important;}
.pad-top-20 {padding-top: 20px !important;}
.pbn, .pvn, .pan {padding-bottom: 0 !important;}
.prn, .phn, .pan { padding-right: 0 !important;}
.ptn, .pvn, .pan { padding-top: 0 !important;}
.pr20{padding-right: 20px !important;}
.pr-10 { padding-right: 10px;}
.no-padding-right {padding-right: 0!important;}
.no-padding-left {padding-left: 0!important;}

/*------------------------------------*
Margin
*------------------------------------*/
.no-margin {margin: 0!important;}
.mb20{margin-bottom: 20px;}
.mb50{margin-bottom: 50px;}
.mb0{margin-bottom: 0px !important;}

/*------------------------------------*
Border
*------------------------------------*/
.bor0 {border-width: 0px !important;}
.bor-rad{border-radius: 8px !important;}
.no-border { border-width: 0;}
.bor-r0{border-right: 0px;}

/*------------------------------------*
Font-Style
*------------------------------------*/
label{font-weight:500}
h1,h2,h3,h4,h5,h6{font-weight:600}
.bars,.chart,.pie,.primary-font{font-family:"Open Sans",sans-serif!important}
h1{font-size:36px}
h2{font-size:30px}
h3{font-size:24px}
h4{font-size:18px}
h5{font-size:14px}
h6{font-size:12px}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{color:#444}
h1.block,h2.block,h3.block,h4.block,h5.block,h6.block{padding-top:10px;padding-bottom:10px}
hr{border:0;border-top:1px solid #eee;border-bottom:0}


a, a:visited { color: #277500;text-decoration: none; }
a:focus, a:hover { color: #029201;text-decoration: underline;}
a, button, code, div, img, input, label, li, p, pre, select, span, svg, table, td, textarea, th, ul {-webkit-border-radius: 0!important;-moz-border-radius: 0!important;border-radius: 0!important;}


.bolder {font-weight: bolder;}
.lighter {font-weight: lighter;}

.text-bold { font-weight: 600; }
.text-italic { font-style: italic; }
.text-normal { font-style: normal; font-weight: normal; }
.text-right {text-align: right;}
.uppercase {text-transform: uppercase!important;}
.sbold {font-weight: 600!important;}
.middle {vertical-align: middle;}
.inline {display: inline-block!important;}


.has-error {margin-bottom: 0px;}
.has-error .help-block, .has-error .control-label, .has-error .radio, 
.has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, 
.has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {color: #FF0000;font-size: 13px;}
.has-error .form-control {border-color: #FF0000;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);}

.text-danger {color: #EF0500;}
.font-dark { color: #2f353b!important;}
.font-green{ color: #5BAF00;!important;}

/*.green {color: #69aa46!important;}
.green-hover:hover{color:#7fba00 !important;}*/

.title-controls { /*border-bottom: 1px solid #efefef;*/ padding: 12px 0px;}
.page-intro { padding: 10px 0; -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.06) inset; box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.06) inset; background-color: #fafafa; border-bottom: 1px solid #dadada;}
.page-intro h3 {color: #666; margin-top: 3.5px; font-size: 12px;font-weight: 500;padding-left: 15px;margin-bottom: 0px;}
.greenbold{color: #277500;font-weight: 600;}
.search-result-header{
    line-height: 1.44;
    font-size: 13px;
    color: #219A00;
    padding-left: 5px;
    font-weight: 600;
}

.alert-danger {background-color: #FFE9EA; border-color: #FFD8D8; color: #FF0013;}

.heading-title {display: block; margin: 20px 0px;border-bottom: 1px dotted #d2d2d2;font-size: 12px;border-bottom: 2px solid #90DA00;}
.heading-title h1, .heading-title h2, .heading-title h3, .heading-title h4, .heading-title h5, .heading-title h6 {margin: 0 0 -2px 0; padding-bottom: 5px;display: inline-block;font-weight: 500;}
.divide30 {width: 100%;height: 30px;}

.control-label { font-size:13px;font-weight: 500;}
.control-label2 {margin-bottom: 10px;margin-top: 10px;font-weight: 600;}

.input-group-addon {padding: 6px 10px;font-size: 13px;}
.input-group-addon:first-child {border: 0;background-color: rgba(191, 191, 191, 0.65);}

.input-icon {
    position: relative;
}
.input-icon i {
    color: #999999;
    display: block;
    position: absolute;
    margin: 10px 2px 4px 10px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: center;
}
.input-icon input {
    padding-left: 33px !important;
    color: #999999;
}

.label-title01{ text-align: left;font-size: 14px;margin-top: 15px;margin-bottom: 15px;color:#277500;;font-weight: 600;padding-left: 0px;}
.label-title02{ text-align: center;font-size: 16px;margin-top: 18px;/*margin-bottom: 15px;*/color:#277500;font-weight: 600;padding-left: 0px;}
.label-title03{ text-align: center;font-size: 14px;/*margin-top: 15px;*/margin-bottom: 15px;color:#865700;font-weight: 600;padding-left: 0px;}
.label-time01{font-style: normal;font-size: 12px;font-weight: 600;color: #4175AD;margin-bottom: 30px;     margin-top: 10px;}
.label-time02{font-style: normal;font-size: 12px;font-weight: 600;color: #4397C1;}
.label-remark01{font-style: italic;font-size: 12px;font-weight: 600;color: #A27200;}
.label-remark02{font-style: normal;font-size: 12px;font-weight: 600;color: #277500;padding-top:25px;}
.label-remark03{font-style: normal;font-size: 12px;font-weight: 500;color: #555;text-indent: 20px;}
.label-asof{  color: #272727;font-size: 12px;font-weight: 600;margin-top: 10px;padding-right: 10px;}
.label-cal01{font-size: 24px;color: #5BAF00;font-weight: 600; /* padding-top: 5px; */}
.label-cal02{ font-size: 12px;color: #696969;font-weight: 600; padding-top: 15px;padding-bottom: 5px;}


[class*=" fa-"]:not(.fa-stack), [class*=" glyphicon-"], [class*=" icon-"], [class^=fa-]:not(.fa-stack), [class^=glyphicon-], [class^=icon-] {display: inline-block;line-height: 14px;-webkit-font-smoothing: antialiased;}

/*********Button ********************************************************************************/
.btn {padding: 6px 12px;font-size: 13px;}
.btn ,.input-group-addon ,.alert{ border-radius: 0px; /*font-size: 12px;font-weight: 600;*/}
.btn.default:not(.btn-outline) {color: #666; background-color: #e1e5ec;border-color: #e1e5ec;}
.btn:not(.btn-sm):not(.btn-lg) {line-height: 1.44;}
.btn:hover {transition: all .3s;}


.btn-submit{ background-color: #33B10A;color: #F3F3F3;    font-weight: 600;}
.btn-submit:hover{ background-color:#288C07;color: #F3F3F3;}
.btn-resetsubmit{ background-color: #FDA400;color: #fff;    font-weight: 600;}
.btn-resetsubmit:hover{ background-color: #C78100;color: #fff;}
.btn-cashflow{ background-color: #fff;color: #CC8500;border-color: #E8AF00;}
.btn-cashflow:hover{ background-color: #FFFF90;color: #CC8500;border-color: #E8AF00;}
.btn-reportto{ background-color: #fff;    color: #6BA96B;border-color: #55D031;}
.btn-reportto:hover{ background-color: #CDFFC9;    color: #6BA96B;border-color: #55D031;}
.btn-excel{    background-color: rgba(170, 170, 170, 0);color: #055DE6;border: 1px solid #055DE6;}
.btn-excel:hover{ background-color: #055DE6;color: #fff;border: 1px solid #055DE6;}
.btn-printversion{    background-color: rgba(170, 170, 170, 0);color: #00B1A0; border: 1px solid #00B1A0;}
.btn-printversion:hover{ background-color: #00B1A0;color: #fff;border: 1px solid #00B1A0;}

.btn-notice {color: rgb(17, 109, 46) !important; border: 1px solid rgb(17, 109, 46); cursor: pointer;padding: 6px 12px;;/* background-color: rgba(239, 254, 255, 0.63); */   }
.btn-market {color: #948301 !important; border: 1px solid #948301; cursor: pointer;padding: 6px 12px;  }

.btn-calculation{color: #fff !important;background-color: #4FA917;}
.btn-calculation:hover{color: #fff;background-color: #20A917;}


/*.btn-u {
    border: 0;
    color: #fff !important;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 13px;
    position: relative;
    background: #72c02c;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none !important;
}
.btn-u.btn-u-default {
    background: #95a5a6;
}
.btn-u.btn-u-default:hover,
.btn-u.btn-u-default:focus,
.btn-u.btn-u-default:active,
.btn-u.btn-u-default.active,
.open .dropdown-toggle.btn-u.btn-u-default {
	background: #7f8c8d;
}
.btn-u.btn-u-split-default.dropdown-toggle {
	border-left: solid 1px #7f8c8d;
}

.btn-u.btn-u-green {
	background: #2ecc71;
}
.btn-u.btn-u-green:hover,
.btn-u.btn-u-green:focus,
.btn-u.btn-u-green:active,
.btn-u.btn-u-green.active,
.open .dropdown-toggle.btn-u.btn-u-green {
	background: #27ae60;
}
.btn-u.btn-u-split-green.dropdown-toggle {
	border-left: solid 1px #27ae60;
}*/
/*************** Icon ******************************************************************************************/
.icon-download-excel{ font-size: 15px; text-align: center;}
.icon-pdf {font-size: 15px;color: #EC5519; text-align: center;}
.icon-zip {font-size: 15px;color: #4FA8CE; text-align: center;}
.cal-result .icon { 
	position: absolute; bottom: 70px;left: 50%;margin-left: -20px;width: 30px; height: 30px;line-height: 30px;
    border-radius: 20px;z-index: 3;color: rgb(102, 195, 34);text-align: center;font-weight: 600;font-size: 30px;
	/*-webkit-animation: bounce 2s ease infinite; 
    animation: bounce 2s ease infinite;*/
}



