<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BBLAM" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=bblamoracle)));User Id=BBLAM;Password=bblam2018;"/>
    <add name="BBLAM_VM" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.56.103)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=bblamoracle)));User Id=BBLAM;Password=bblam2018;" />
  </connectionStrings>

  <appSettings>
    <add key="CONNECTION_NAME" value="BBLAM"/>
    <add key="COMMAND_TIMEOUT" value="600"/>

    <add key="HIPORT_ROOT" value="D:\HIPORT\CTL\DATA"/>
    <add key="HIPORT_DELAY0_FILE" value="FMVP02.CSV"/>
    <add key="HIPORT_DELAY1_FILE" value="FMVP02N.CSV"/>
    <add key="HIPORT_DELAY2_FILE" value="FMVP02C.CSV"/>

    <add key="PVD_ROOT" value="D:\HIPORT\CTL\DATA"/>
    <add key="PVD_FILE" value="PORT_DL.TXT"/>

    <add key="CTL_ROOT" value="D:\HIPORT\CTL"/>
    <add key="CTL_ACCOUNT" value="BBLAM/bblam2018"/>
    <add key="CTL_ACCOUNT_VM" value="BBLAM/bblam2018@//192.168.56.103:1521/bblamoracle"/>

    <add key="SQLLOADER" value="true"/>
    <add key="SQLLOADER_EXE" value="sqlldr.exe"/>
    <add key="SQLLOADER_DELAY" value="5000"/>

    <add key="GEN_MF_REPORT" value="true"/>
    <add key="GEN_PVD_REPORTF" value="true"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
</configuration>